@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@layer base {
  h1{
    @apply text-2xl;
    @apply font-bold;
    font-family: 'Fredoka One', cursive;
  }
  h2{
    @apply text-xl;
    @apply font-bold;
    font-family: 'Fredoka One', cursive;
  }
  h3{
    @apply text-lg;
    @apply font-bold;
  }
  h4{
    @apply text-base;
    @apply font-bold
  }
  p{
    @apply text-sm;
  }

  body{
    font-family: 'Lexend', sans-serif;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
